.footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.container a{
    text-decoration: none;
    color: black;
}

.box-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.inputs-login {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputs-login label{
    margin-left: 5px;
}

.inputs-login label:not(:first-child){
    margin-top: 10px;
}

.inputs-login input{
    padding: 5px;
}

.buttons-login{
    margin: 10px 10px;
    display: flex;
    justify-content: space-evenly;
}

.message-error{
    color: red;
    font-size: 14px;
}

@media only screen and (max-width: 1340px) {
    .footer{
        bottom: -16px;
    }
}

@media only screen and (max-width: 1325px) {
    .footer{
        bottom: -56px;
    }
}

@media only screen and (max-width: 1263px) {
    .footer{
        bottom: -80px;
    }
}

@media only screen and (max-width: 777px) {
    .footer{
        bottom: -111px;
    }
}

@media only screen and (max-width: 552px) {

    .container-views{
        padding-top: 247px;
    }

    .footer{
        bottom: -250px;
    }
}

@media only screen and (max-width: 388px) {
    .footer{
        bottom: -300px;
    }
}

@media only screen and (max-width: 321px) {
    .footer{
        bottom: -380px;
    }
}